{{ define "page.tmpl" }}
{{- /*
General purpose index.html page template.

Expected Objects:

+ .metadata
+ .content

*/ -}}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    {{ with .front_matter.title -}}<title>{{- . -}}</title>{{- end }}
    {{with .CSS -}}<a rel="stylesheet" href="{{- . -}}">{{- else -}}<link rel="stylesheet" href="/css/site.css">{{- end}}
</head>
<body>
<header>
<a href="/" title="link to Homepage"><img src="/assets/oq.svg" alt="A placeholder for a logo"></a>
</header>

{{ with .nav -}}<nav class="site-nav">{{ . }}</nav>{{- end }}
<section class="page-copy">
{{ with .front_matter }}
<h1>{{- .title -}}</h1>
<h2 class="byline">{{- .byline -}}</h2>
{{- end }}
{{ with .content -}}<div class="content">{{- . -}}</div>{{- end }}
</section>

<section class="front-matter-example">
<code><pre>
{{ printf "%s\n" (stringify .front_matter true) }}
</pre></code>
</section>

<footer>
<span>&copy; 2219 <a href="https://example.org">example.org</a></span>
<address>1234 West Anywhere Ave. Anytown, Nowhere Provence, Some Country</address>
</footer>
</body>
</html>
{{ end }}
